* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    background: linear-gradient(120deg, rgb(115, 52, 231), rgb(102, 11, 138), rgb(104, 8, 91));
    height: 100vh;
}

.center {
    padding: 20px 50px;
    background-color: white;
    height: 580px;
    border-radius: 10px;
    margin-top: 90px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(128, 40, 211);
}

fieldset {
    border: none;
}

label {
    text-align: center;
    color: rgb(62, 6, 116)
}

input {
    padding: 5px;
    border: none;
}

.usr-info {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.usr-cargos {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(228, 226, 229);
    border-radius: 10px;
}

.usr-cargos input, label {
    padding: 0px 5px;
}

.usr-cargos h1 {
    font-size: 1.5em;
}

button {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 120px;
    background-color: blueviolet;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 50px;
    transition: transform 0.3s;
}

.sign {
    position: relative;
    top: 15px;
}

button:hover {
    transform: scale(1.1);
    opacity: 90%;
}

.sign {
    text-align: center;
}